.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
.github/**
.git/**
**/.DS_Store
**/thumbs.db
images/raw/**
**/*.vsix
.editorconfig
.eslintrc.json
webpack.config.js
.prettierrc
.prettierignore
